version: "3.9"

services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PARTMAN_VERSION: "5.3.0"
    image: myregistry.example.com/mi-postgres:18-pgpartman
    container_name: postgres_custom
    restart: unless-stopped
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data

    labels:
      - "traefik.enable=false"

volumes:
  pg_data:
